@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

*,
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.sticky-nav {
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: rgba(0, 158, 199, 0.6);
  box-shadow: 0 2px 25px 0 rgba(0, 158, 199, 0.6);
  z-index: 88;
  backdrop-filter: blur(8px);
}

.navigation {
  height: 100vh;
  background: url("../assets/images/bg/background.jpg");
  background-size: cover;
}

.intro {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
}

.trending {
  height: auto;
  background: url("../assets/images/bg/spiderman.jpg");
  background-size: cover;
}

.superhero {
  height: auto;
  background: url("../assets/images/bg/scifi.jpg");
  background-size: cover;
}

.romantic {
  height: auto;
  background: url("../assets/images/bg/romance.jpg");
  background-size: cover;
}

.movieImage {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 500px;
}
